@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 65.5%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/






/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
.welcome{  
  background-image: linear-gradient(to right, #534a76 , #753e79);
  padding: 177px 0 75px ;
}

.orci-block,
.magna-feugiat,
.welcome-template{
  display: flex;
  justify-content: center;
}

.prism{ 
  border-right: 1px solid #9b7ca3;
  color: #fdfafa;
  font-weight: bold;
}

.prism p{
  font-size: 31.5px;
  margin-right: 10%;
  line-height: 44px;
}

.prism span{ text-transform: uppercase; }
.orci-block>li,
.magna-feugiat>li,
.welcome-template li{ width: 50%; }

.prism-txt{
  transform: translateX(8.5%);
  color: #fdfafa;
}

.prism-txt p{
  font-weight: 600;
  font-size: 14.5px;
  margin-right: 15%;
  line-height: 20.5px;
  opacity: 0.4;
}

.prism-txt a{
  text-transform: uppercase;
  color: #fdfafa;
  background-color: #49bd8b;
  padding : 11px 7%;
  border: 1px solid #49bd8b;
  border-radius: 25px;
  font-size: 10px;
  letter-spacing: 1px;
  margin-top: 25px;
}

.magna{
  padding: 63px 0;
  border: 1px solid #cccccc;
}

.orci-txt,
.magna-txt{
  border-right: 1px solid #aaaaaa;
  color: #656565;
}

.magna-txt h3{
  font-size: 21.5px;
  font-weight: bold;
  letter-spacing: 0.4px;
  padding-top: 4px;
}

.magna-txt p{
  font-size: 12px;
  opacity: 0.9;
  line-height: 25px;
  margin : 25px 10% 0 0;
}

.magna-txt a{
  text-transform: uppercase;
  color: #656565;
  padding : 11px 7%;
  border: 1px solid #cccccc;
  border-radius: 25px;
  font-size: 10.5px;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-top: 22px;
}

.megna-list{
  padding-left:8.5%;
  color: #656565;
  font-size: 12px;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
}

.megna-list li:last-child{ margin: 5px 0 0px; }
.megna-list li{  margin: 5px 0 25.1px; }

.megna-list li::before{
  color: #49bd8b;
  content: "\f00c\2003";
  font-family: FontAwesome;
}

.cards{ 
  background: #fafafa;
  padding: 62px 0;
}

.card-list{
  display: flex;
  flex-direction: column;
}

.card{
  display: flex;
  margin-bottom: 38px;
  background:#ffffff;
}

.card figure{ 
  width: 58%;
  max-height: 290px;
  overflow: hidden;
}

.card img{ width: 100%; }

.card-details{
  border-bottom: 1px solid #dddddd;
  padding-left: 4.25%;
}

.card-details h4{
  color: #656565;
  font-size: 16.5px;
  font-weight: bold;
  letter-spacing: 0.4px;
  margin-top: 76PX;
}

.card-details p{
  color: #656565;
  opacity: 0.8;
  line-height: 25px;
  font-size: 12px;
  margin: 20px 0;
}

.card-list li a,
.card-details a{
  text-transform: uppercase;
  color: #656565;
  padding : 10.5px 6.125%;
  border: 1px solid #cccccc;
  border-radius: 25px;
  font-size: 10.5px;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-top: 5px;
}

.card-list li>a{
  margin-top: 0;
  padding : 10px 3.55%;
  margin-left: 50%;
  transform: translateX(-50%);
}

.orci{
  padding: 62px 0;
  border-bottom: 1px solid #cccccc;
}

.orci-txt h4{
  color: #555555;
  opacity: 1;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.4px;
  padding-top: 5px ;
}

.orci-txt p{
  font-size: 12px;
  line-height: 25px;
  margin-top: 25px;
  width: 88%;
}

.error{ display: none; }

.oneline-input{
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 88%;
  padding-top: 25px;
}

.oneline-input input{
  border: 1px solid #cccccc;
  padding: 9px 5%;
  box-sizing: border-box;
}

textarea{
  width: 90.5%;
  min-height: 115px;
  margin-top: 25px;
  border: 1px solid #cccccc;
}

textarea::placeholder{
  padding: 12px 8px;
}

textarea:focus,
input:focus{ outline: none; }

.form-controls input{
  margin-top: 20px;
  text-transform: uppercase;
  color: #656565;
  padding : 11px 7%;
  border: 1px solid #cccccc;
  border-radius: 25px;
  font-size: 10.5px;
  font-weight: bold;
  letter-spacing: 0.5px;
  background-color: #ffffff;
}


.orci-list-block{
  padding-left:8.5%;
  color: #656565;
  font-size: 12px;
  letter-spacing: 0.2px;
  opacity: 0.9;
  display: flex;
  margin-top: 3px;
  flex-direction: column;
}

.orci-list-block li:last-child{ 
  margin: 0px 0 0px;
  width: 50%;
  line-height: 25px;
}

.orci-list-block li{  margin: 5px 0 15px; }

.twitter::before{
  color: #49bd8b;
  content: "\f099\2003";
  font-family: FontAwesome;
}

.facebook::before{
  color: #49bd8b;
  content: "\f09a\2003";
  padding-right: 5px;
  font-family: FontAwesome;
}

.insta::before{
  color: #49bd8b;
  content: "\f16d\2003";
  padding-right: 2px;
  font-family: FontAwesome;
}

.mail::before{
  color: #49bd8b;
  content: "\f0e0\2003";
  font-family: FontAwesome;
}

.location::before{
  color: #49bd8b;
  content: "\f015\2003";
  font-family: FontAwesome;
}

.location{
  transform: translateX(28px);
  text-indent: -28px;
}

.card-list a:hover,
.form-controls input:hover,
a:hover{
  background-color: #49bd8b;
  border-color: #49bd8b;
  color: #fafafa;
}

.prism-txt a:hover{
  background-color: #fafafa;
  border-color: #555555;
  color: #555555;
}

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 



footer{
  background-color: #fafafa;
  text-align: center;
  font-size: 12px;
  color: #aaaaaa;
  padding: 52.5px 0;
}



 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  